<?xml version="1.0"?>
<!--
    This file is part of ALPHA AUV project.
    Author: Tony Jacob
    Email: tony.jacob@uri.edu
    Year: 2023
    Copyright (C) 2022 Smart Ocean Systems Laboratory
    This file operates in NED Frame
-->
<scenario xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find world_of_stonefish)/metadata/looks.scn.xacro"/>
    <xacro:include filename="$(find world_of_stonefish)/metadata/materials.scn.xacro"/>

    <xacro:macro name="wamv" params="xyz rpy robot_name">
        <robot name="${robot_name}" fixed="false" self_collisions="false">

           
            <base_link name="Vehicle" type="compound" physics="submerged">
                <external_part name="base" type="model" physics="submerged" buoyant="true">
                    <physical>
                        <mesh filename="$(find world_of_stonefish)/data/parts/body/wamv_base.obj" scale="0.0045"/>
                        <origin rpy="3.14 0.0 0.0" xyz="0.0 0.0 0.0"/>
                    </physical>
                    <visual>
                        <mesh filename="$(find world_of_stonefish)/data/parts/body/wamv_base.obj" scale="0.0045"/>
                        <origin rpy="3.14 0.0 0.0" xyz="0.0 0.0 0.0"/>
                    </visual>
                    <material name="Vehicle"/>
                    <look name="yellow"/>
                    <mass value="50"/>
                    <compound_transform rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
                    <cg xyz=" 0.0 0 1.0" rpy="0.0 0.0 0.0"/>
                </external_part>

                <external_part name="engine_starboard" type="model" physics="submerged" bouyant="true">
                    <physical>
                        <mesh filename="$(find world_of_stonefish)/data/parts/body/wamv_engine.obj" scale="0.5"/>
                        <origin rpy="3.14 0 0" xyz="-1 .45 -.2"/>
                    </physical>
                    <visual>
                        <mesh filename="$(find world_of_stonefish)/data/parts/body/wamv_engine.obj" scale="0.5"/>
                        <origin rpy="3.14 0 0" xyz="-1 .45 -.2"/>
                    </visual>
                    <material name="Vehicle"/>
                    <look name="yellow"/>
                    <mass value="10"/>
                    <compound_transform rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
                    <cg xyz=" 0.0 0 1.0" rpy="0.0 0.0 0.0"/>
                </external_part>

                <external_part name="engine_port" type="model" physics="submerged" bouyant="true">
                    <physical>
                        <mesh filename="$(find world_of_stonefish)/data/parts/body/wamv_engine.obj" scale="0.5"/>
                        <origin rpy="3.14 0 0" xyz="-1 -.45 -.2"/>
                    </physical>
                    <visual>
                        <mesh filename="$(find world_of_stonefish)/data/parts/body/wamv_engine.obj" scale="0.5"/>
                        <origin rpy="3.14 0 0" xyz="-1 -.45 -.2"/>
                    </visual>
                    <material name="Vehicle"/>
                    <look name="yellow"/>
                    <mass value="10"/>
                    <compound_transform rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
                    <cg xyz=" 0.0 0 1.0" rpy="0.0 0.0 0.0"/>
                </external_part>

                <!-- <external_part name="thrusterPort" type="model" physics="submerged" buoyant="false">
                    <physical>
                        <mesh filename="$(find world_of_stonefish)/data/parts/thruster/wamv_propeller.obj" scale="0.5"/>
                        <origin rpy="0.0 0 0.0" xyz="-1.1 -.45 0.08"/>
                    </physical>
                    <visual>
                        <mesh filename="$(find world_of_stonefish)/data/parts/thruster/wamv_propeller.obj" scale="0.5"/>
                        <origin rpy="0.0 0 0.0" xyz="-1.1 -.45 0.08"/>
                    </visual>
                    <material name="Neutral"/>
                    <look name="black"/>
                    <compound_transform rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
                </external_part>

                <external_part name="thrusterStarboard" type="model" physics="submerged" buoyant="false">
                    <physical>
                        <mesh filename="$(find world_of_stonefish)/data/parts/thruster/wamv_propeller.obj" scale="0.5"/>
                        <origin rpy="0.0 0 0.0" xyz="-1.1 .45 0.08"/>
                    </physical>
                    <visual>
                        <mesh filename="$(find world_of_stonefish)/data/parts/thruster/wamv_propeller.obj" scale="0.5"/>
                        <origin rpy="0.0 0 0.0" xyz="-1.1 .45 0.08"/>
                    </visual>
                    <material name="Neutral"/>
                    <look name="black"/>
                    <compound_transform rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
                </external_part> -->
            </base_link>

            <!-- the actual base frame  -->
            <link name="Base" type="box" physics="submerged">
                <dimensions xyz="0.01 0.02 0.01"/>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <material name="Neutral"/>
                <look name="Green"/>
            </link>
            
            <joint name="Joint1" type="fixed">
                <parent name="Vehicle"/>
                <child name="Base"/>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <axis xyz="1.0 0.0 0.0"/>
            </joint>

            <actuator name="ThrusterPort" type="thruster">
                <link name="Base"/>
                <origin rpy="0.0 0.0 0" xyz="-1.1 -.45 0.08"/>
                <specs thrust_coeff="1" thrust_coeff_backward="0.3404" torque_coeff="0.01" max_rpm="3000.0"/>
                <propeller diameter="0.08" right="true">
                    <mesh filename="$(find world_of_stonefish)/data/parts/thruster/wamv_propeller.obj" scale="0.5"/>
                    <material name="Neutral"/>
                    <look name="black"/>
                </propeller>
                <ros_subscriber topic="/${robot_name}/control/thruster/port"/>
            </actuator>

            <actuator name="ThrusterStarboard" type="thruster">
                <link name="Base"/>
                <origin rpy="0.0 0.0 0" xyz="-1.1 .45 0.08"/>
                <specs thrust_coeff="1" thrust_coeff_backward="0.3404" torque_coeff="0.01" max_rpm="3000.0"/>
                <propeller diameter="0.08" right="true">
                    <mesh filename="$(find world_of_stonefish)/data/parts/thruster/wamv_propeller.obj" scale="0.5"/>
                    <material name="Neutral"/>
                    <look name="black"/>
                </propeller>
                <ros_subscriber topic="/${robot_name}/control/thruster/starboard"/>
            </actuator>

            <sensor name="multibeam" rate="10" type="multibeam">
                <specs fov="90.0" steps="256"/>
                <range distance_min="0.5" distance_max="100.0"/>
                <noise distance="0.1"/>
                <history samples="1"/>
                <origin xyz="0.0 0.0 .1" rpy="1.57 -.785 1.57"/>
                <link name="Base"/>
                <ros_publisher topic="/${robot_name}/multibeam_sonar/stonefish/data"/>
            </sensor>

            <sensor name="laserscanner_1" rate="10" type="multibeam">
                <specs fov="45" steps="64"/>
                <range distance_min="0.5" distance_max="100.0"/>
                <noise distance="0.1"/>
                <history samples="1"/>
                <origin xyz="0.0 0.0 -0.6" rpy="3.14 0 -4.712389"/>
                <link name="Base"/>
                <ros_publisher topic="/${robot_name}/laserscanner_1/stonefish/data"/>
            </sensor>

            <sensor name="laserscanner_3" rate="10" type="multibeam">
                <specs fov="45" steps="64"/>
                <range distance_min="0.5" distance_max="100.0"/>
                <noise distance="0.1"/>
                <history samples="1"/>
                <origin xyz="0.0 0.0 -0.6" rpy="3.14 0.08726646 -4.712389"/>
                <link name="Base"/>
                <ros_publisher topic="/${robot_name}/laserscanner_3/stonefish/data"/>
            </sensor>
            
            <sensor name="laserscanner_5" rate="1" type="multibeam">
                <specs fov="45" steps="64"/>
                <range distance_min="0.5" distance_max="100.0"/>
                <noise distance="0.1"/>
                <history samples="1"/>
                <origin xyz="0.0 0.0 -0.6" rpy="3.14 0.1745329 -4.712389"/>
                <link name="Base"/>
                <ros_publisher topic="/${robot_name}/laserscanner_5/stonefish/data"/>
            </sensor>

            <sensor name="laserscanner_7" rate="1" type="multibeam">
                <specs fov="45" steps="64"/>
                <range distance_min="0.5" distance_max="100.0"/>
                <noise distance="0.1"/>
                <history samples="1"/>
                <origin xyz="0.0 0.0 -0.6" rpy="3.14 0.2617994 -4.712389"/>
                <link name="Base"/>
                <ros_publisher topic="/${robot_name}/laserscanner_7/stonefish/data"/>
            </sensor>

            <sensor name="laserscanner_9" rate="1" type="multibeam">
                <specs fov="45" steps="64"/>
                <range distance_min="0.5" distance_max="100.0"/>
                <noise distance="0.1"/>
                <history samples="1"/>
                <origin xyz="0.0 0.0 -0.6" rpy="3.14 0.3490659 -4.712389"/>
                <link name="Base"/>
                <ros_publisher topic="/${robot_name}/laserscanner_9/stonefish/data"/>
            </sensor>

            <sensor name="imu" type="imu" rate="20.0">
                <link name="Base"/>
                <origin rpy="3.1415926 0.0 0.0" xyz="0 0.0 -0.05"/>
                <!-- <noise angle="0.01 0.01 0.05" angular_velocity="0.05" yaw_drift="0.001" linear_acceleration="0.1"/> -->
                <noise angle="0.0 0.0 0.0" angular_velocity="0.0" yaw_drift="0.00" linear_acceleration="0.0"/>
                
                <ros_publisher topic="/${robot_name}/imu/stonefish/data"/>
            </sensor>

            <sensor name="gps" type="gps" rate="1.0">
                <link name="Base"/>
                <origin rpy="0.0 0.0 0.0" xyz="-0.7 0.0 -0.3"/>
                <!-- <noise ned_position="0.1"/> -->
                
                <noise ned_position="0.0"/>
                <ros_publisher topic="/${robot_name}/gps/fix"/>
            </sensor>

            <!-- <sensor name="MSIS" type="msis">
                <specs step="1" bins="100" horizontal_beam_width="2.0" vertical_beam_width="30.0"/>
                <settings range_min="0.5" range_max="50.0" rotation_min="-50.0" rotation_max="50.0" gain="1.5"/>
                <noise multiplicative="0.02" additive="0.03"/>
                <display colormap="hot"/>
                <origin xyz="0.0 0.0 0.0" rpy="-1.57 3.14 4.71"/>
                <ros_publisher topic="/${robot_name}/msis/stonefish/data"/>
                <link name="Base"/>
            </sensor> -->

            <sensor name="Cam" rate="10.0" type="camera">
                <specs resolution_x="800" resolution_y="600" horizontal_fov="120.0"/>
                <origin xyz="0.0 0.0 -1" rpy="-1.57 3.14 0"/>
                <link name="Base"/>
                <ros_publisher topic="/${robot_name}/camera/stonefish/side/data"/>
            </sensor>

            <sensor name="Cam_front" rate="10.0" type="camera">
                <specs resolution_x="800" resolution_y="600" horizontal_fov="120.0"/>
                <origin xyz="-1. 0.0 -1" rpy="-1.57 3.14 4.71"/>
                <link name="Base"/>
                <ros_publisher topic="/${robot_name}/camera/stonefish/front/data"/>
            </sensor>

            <world_transform rpy="${rpy}" xyz="${xyz}"/>

        </robot>
    </xacro:macro>

</scenario>