<?xml version="1.0"?>
<!--
    This file is part of ALPHA AUV project.
    Author: Tony Jacob
    Email: tony.jacob@uri.edu
    Year: 2023
    Copyright (C) 2022 Smart Ocean Systems Laboratory
-->
<scenario xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find world_of_stonefish)/metadata/looks.scn.xacro"/>
    <xacro:include filename="$(find world_of_stonefish)/metadata/materials.scn.xacro"/>

    <static name="iceberg" type="model">
        <physical>
            <mesh filename="objects/iceberg_01.obj" scale="0.5" convex="false"/>
            <origin xyz="-40 10 0.0" rpy="0.0 0.0 0.0"/>
        </physical>
        <visual>
            <mesh filename="objects/iceberg_01.obj" scale="0.5"/>
            <origin xyz="-40 10 0.0" rpy="0.0 0.0 0.0"/>
        </visual>
        <material name="Ice"/>
        <look name="ice"/>
        <cg xyz=" 0.0 0 0.0" rpy="0.0 0.0 0.0"/>
        <world_transform xyz="55.0 55.0 0.0" rpy="3.1415926 0.0 0.0"/>
    </static>

    <!-- <animated name="AnimMesh" type="model" collisions="true">
        <physical>
            <mesh filename="iceberg_01.obj" scale="0.5" convex="false"/>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        </physical>
        <visual>
            <mesh filename="iceberg_01.obj" scale="0.5"/>
            <origin xyz="0.0 0.0 .0" rpy="0.0 0.0 0.0"/>
        </visual>
        <material name="Ice"/>
        <look name="ice"/>
        <world_transform xyz="100.0 100.0 0.0" rpy="3.1415926 0.0 0.0"/>
        <trajectory type="spline" playback="boomerang">
            <keypoint time="0.0" xyz="0.0 60.0 0.0" rpy="3.1415926 0.0 0.0"/>
            <keypoint time="10.0" xyz="10.0 60.0 0.0" rpy="3.1415926 0.0 0"/>
            <keypoint time="40.0" xyz="10.0 60.0 0.0" rpy="3.1415926 0.0 0.0"/>
        </trajectory>
    </animated> -->

</scenario>